/* 
    Document   : indexCss
    Created on : 25/04/2013, 11:14:59
    Author     : cassio
    Description:
        Purpose of the stylesheet follows.
*/


    h1{
       text-align: center;
       font-size: 50px;
       font-style: oblique;
       color: window;
       background: blueviolet;
       padding-top: 3%;
       padding-left: 10%;
       padding-right: 10%;
       padding-bottom: 3%;
       border-bottom-style: inset;
       margin: 0% 0% 0% 0;
      
    }
    
    #rodape{
        background: blueviolet;
        color: yellow;
        font-size: 11px;
        text-align: center;
        
        margin: 80% auto 2% auto;
        padding-top: 2%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 2%;
    }
    
    #login{
        text-align: right;
        position: absolute; 
        top: 30%; 
        right: 55%; 
    
    }
    
    #cadastrar{
        position: absolute; 
        top: 30%; 
        left: 55%;
              
    }
    
    #linha{
        position: absolute; 
        top: 30%;
        bottom: 30%;
        
        right: 50%;
        border-style: solid
    }
    
    #estrutura{
        margin: 0% 20% 100% 20%; 
        border-left-style: inset;
        border-left-color: black
        
    }
    
    #formCadastro{
        position: absolute;
        top: 35%; 
        right: 35%;
    } 
    
    #cadastro{
        position: absolute;
        right: 20%
        
    }
    
    #formAlterar{
        position: absolute;
        top: 35%; 
        right: 45%;
    }
    
    #botaoExcluirConta{
        position: absolute;
        top: 77%; 
        right: 46%;
    }
    
    #botaoCadastraLivro{
        position: absolute;
        top: 40%; 
        left: 60%;
    }
    
    #formCadastrarLivro{
        position: absolute;
        top: 28%;
        right: 33%;
    }
    
    #formTabelaLivro{
        position: absolute;
        top: 85%; 
        right: 0%;
        left: 0%;
        bottom: 4%;
        
    }
    
    #botaoExcluirLivro{
        position: absolute;
        top: 71%; 
        right: 36%; 
    }